name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'
      - run: dotnet restore
      - run: dotnet build --configuration Release --no-restore
      - run: dotnet test --configuration Release --no-build
      - run: dotnet format --verify-no-changes
      - run: dotnet tool restore
      - run: dotnet run --project ./tools/Khaos.RestApi.NginxConfigGen/Khaos.RestApi.NginxConfigGen.csproj
